<div class="card">
  <h2 id="tt">Test</h2>
  <div id="prepay" class="">
    <p>Bu test pullik. Boshlash uchun tasdiqlang.</p>
    <div class="kv"><span class="k">Narx:</span> <strong id="price">0</strong> so'm</div>
    <button id="btnPayStart" class="btn">To'lovni tasdiqlab boshlash</button>
  </div>
  <div id="exam" class="hide">
    <div class="kv" style="justify-content:space-between">
      <div>Q: <span id="qi">1</span>/<span id="qn">1</span></div>
      <div>⌛ <span id="tim">00:00</span></div>
    </div>
    <hr/>
    <div id="qimg"></div>
    <div id="qtext" style="margin:.5rem 0"></div>
    <div id="opts" class="grid"></div>
    <hr/>
    <div class="kv" style="justify-content:space-between">
      <div><button id="prev" class="btn ghost">Oldingi</button></div>
      <div class="kv"><button id="finish" class="btn warn">Yakunlash</button> <button id="next" class="btn">Keyingi</button></div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>
<script src="./js/test-runner.js"></script>