<section class="page">
  <h2 class="page-title">💳 Balansni to‘ldirish</h2>
  <div class="grid cards">
    <div class="card">
      <img class="hero" src="./assets/click.jpg" alt="Click">
      <h3>Click to‘lov</h3>
      <p class="sub"><a class="btn" target="_blank" href="https://indoor.click.uz/pay?id=0081656&t=0">Havolani ochish</a></p>
    </div>
    <div class="card">
      <img class="hero" src="./assets/xazna.png" alt="Xazna">
      <h3>Xazna to‘lov</h3>
      <p class="sub"><a class="btn" target="_blank" href="https://pay.xazna.uz/p2p/f5edea87-06a5-4d48-a01d-885cf843eb8f">Havolani ochish</a></p>
    </div>
  </div>
</section>
