rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isOwner(uid) { return signedIn() && request.auth.uid == uid; }

    // public products
    match /products/{id} {
      allow read: if true;
      // write should be admin-only in real project
      allow write: if false;
    }

    // counter doc used for OM ID
    match /meta/counters {
      allow read: if signedIn();
      // allow transaction increment for signed-in users (Anonymous ham signedIn hisoblanadi)
      allow update: if signedIn();
      allow create: if signedIn();
      allow delete: if false;
    }

    match /users/{uid} {
      allow read, write: if isOwner(uid);

      match /cart/{pid} {
        allow read, write: if isOwner(uid);
      }
      match /favorites/{pid} {
        allow read, write: if isOwner(uid);
      }
    }
  }
}
