rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isAdmin() {
      return isSignedIn() && (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.numericId in [1000001, 1000002, "1000001", "1000002"]
      );
    }
    match /users/{uid} {
      allow read: if isSignedIn() && request.auth.uid == uid || isAdmin();
      allow create: if isSignedIn() && request.auth.uid == uid;
      allow update: if isSignedIn() && request.auth.uid == uid &&
        !( "balance" in request.resource.data && request.resource.data.balance != resource.data.balance ) &&
        !( "gems" in request.resource.data && request.resource.data.gems != resource.data.gems );
      allow update: if isAdmin();
      allow write: if false; // deny others
    }
  }
}
