[build]
  publish = "public"
  functions = "netlify/functions"

# SPA bo'lsa (index.html ichida routing bo'lsa)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Agar kimdir eski /public/ link bilan kirsa, rootga qaytarsin
[[redirects]]
  from = "/public/*"
  to = "/:splat"
  status = 301
  force = true
