[build]
  publish = "public"
  functions = "netlify/functions"

# If someone enters /public/... redirect to root
[[redirects]]
  from = "/public/*"
  to = "/:splat"
  status = 301
  force = true

# Admin SPA (optional)
[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

# Main SPA routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
