[build]
  publish = "public"
  functions = "netlify/functions"

# SPA routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Backward-compat: if someone enters /public/
[[redirects]]
  from = "/public/*"
  to = "/:splat"
  status = 301
  force = true
