[build]
  functions = "netlify/functions"
  publish = "public"
  command = ""

# Make sure deep links work (including /admin/*)
[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
