[build]
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

# Force fresh HTML (avoid old app.js cache)
[[headers]]
  for = "/*.html"
  [headers.values]
    Cache-Control = "no-store, no-cache, must-revalidate, max-age=0"

# Force fresh assets (still ok because versioned filenames)
[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "no-store, no-cache, must-revalidate, max-age=0"
