[build]
  publish = "public"
  functions = "netlify/functions"

# ===== PAYME FUNCTIONS (redirect yutib yubormasligi uchun) =====
[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

# ===== SPA ROUTING =====
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
