[build]
  publish = "public"
  functions = "netlify/functions"

# Static files (json, js, css) ga tegmang
[[redirects]]
  from = "/region.json"
  to = "/region.json"
  status = 200

[[redirects]]
  from = "/products.json"
  to = "/products.json"
  status = 200

# SPA fallback
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
