
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() { return request.auth != null; }
    function isAdminEmail() { 
      return isSignedIn() && request.auth.token.email in [
        "sohibjonmath@gmail.com"
      ]; 
    }
    match /images/{allPaths=**} {
      allow read: if true;
      allow write: if isAdminEmail();
    }
  }
}
