rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // tests kolleksiyasi: faqat admin yozishi mumkin, hamma o'qishi mumkin
    match /tests/{testId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.token.email == 'sohibjonmath@gmail.com';
    }

    // results kolleksiyasi: har bir autentifikatsiyalangan foydalanuvchi yozishi mumkin, lekin o'chira olmaydi
    match /results/{resId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null && request.auth.token.email == 'sohibjonmath@gmail.com';
      allow delete: if false;
      allow update: if false;
    }

    // default deny for others
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
