rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isAdmin() {
      return signedIn() && (
        request.auth.token.email == 'sohibjonmath@gmail.com'
      );
    }

    match /products/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /meta/{docId} {
      allow read, write: if isAdmin();
    }
  }
}
